# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.py[cod]
*.so

# Exclude build folders
Spyware/Spyware/
Spyware/x64/

# Personal information
token.txt
user_ids.txt
Server/img
